/* title */
* {
    scroll-behavior: smooth;
    
}


h1, h2, h3, h4, h5, h6, p, a, span, li {
    font-family: "Work Sans", Helvetica, Arial, sans-serif!important;
}

.bg-image {
    background: linear-gradient(#17171789, #1616167b), url("../img/hero_1.jpg")center/cover;
    height: 100vh;
}

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    border-bottom: 1px solid #808080;
}

.logo a {
    font: 800 25px arial;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.title {
    width: 650px;

}

.title ul {
    display: flex;
    justify-content: space-between;

}

.title a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    font: 500 17px arial;
    transition: .4s;
}

.title a:hover {
    color: #fff;
}

.main-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

h1 {
    font: 800 40px arial;
    color: #fff;
    margin-bottom: 45px;
}

.button a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font: 400 16px arial;
    border: 1px solid #007bff;
    border-radius: 30px;
    background-color: #007bff;
    padding: 15px 25px;
    transition: .4s;
}

.button a:hover {
    background-color: #000;
    border-color: #000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bdbdbd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content2 {
    position: relative;
}

.dropdown-content2 .dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}


.dropdown-content2 {
    min-width: 160px;
}

.dropdown-content2 a {
    color: #000;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content2 a:hover {
    background-color: #bdbdbd;
}

.dropdown:hover .dropdown-content2 .dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content2:hover .dropdown-content {
    display: block;
    left: 100%;
    top: 0;
}

/* first section */

.section {
    padding: 100px 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;

}

.text h2 {
    font: 800 40px arial;
    color: #007bff;
    padding-bottom: 15px;
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
}

.description h3 {
    font: 400 25px arial;
    color: #000;
    padding-bottom: 15px;
}

.description p {
    font: 400 16px arial;
    color: #808080;
    line-height: 25px;
    padding-bottom: 15px;
    ;
}

.image-text {
    display: flex;
    justify-content: space-between;
}

.image-text img {
    max-width: 550px;
    max-height: 450px;
}

.button {
    margin: 60px 0;
}

/* second section */

.text p {
    font: 400 17px arial;
    color: #808080;
    line-height: 25px;
}

.team {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

}
 

.imagew img {
    max-height: 300px;
    max-width: 250px;

}

.imagew h4 {
    font: 400 20px arial;
    color: #000;
}

.imagew p {
    font: 400 17px arial;
    color: #808080;
    padding-top: 5px;
    line-height: 30px;
}

/* third section */

.bg-color {
    background-color: #f1f1f1;
}

.imagew i {
    font-size: 35px;
    color: #007bff;
    margin-bottom: 20px;
}

.imagew a {
    text-decoration: none;
    text-transform: capitalize;
    color: #007bff;
    font: 400 16px arial;
    transition: .4s
}

.imagew a:hover {
    color: #004d9f;
}



/* fourth section */

.comments {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.comments p {
    color: #808080;
    font: italic 32px arial;
    line-height: 50px;
    padding: 20px 0 40px 0;
}

.comments span {
    color: #989797;
    font: 400 15px arial;
}

.user img {
    border: 1px solid transparent;
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}

/* fifth section */

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card {
    border: 1 px solid #fff;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
}

.card h2 {
    font: 400 25px arial;
    color: #000;
    padding-bottom: 15px;
}

.inline {
    display: flex;
    align-items: end;
}

.inline h6 {
    font: 500 40px arial;
    color: #007bff;

}

.inline span {
    font: 400 14px arial;
    color: #bdbdbd;
}

.card p {
    color: #808080;
    font: 400 16px arial;
    padding-bottom: 15px;
}

.card a {
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid #6c757d;
    background-color: #6c757d;
    border-radius: 25px;
    padding: 13px 25px;
    color: #fff;
    transition: .4s;
    margin-top: 30px;
}

.card a[type="blue"] {
    border-color: #007bff;
    background-color: #007bff;
}

.card a[type="blue"]:hover {
    border-color: #000;
    background-color: #000;
}

.card a:hover {
    background-color: #484e53;
    border-color: #484e53;
}

/* eightth section */

.card-image {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    width: 330px;

}

.image-small img {
    width: 100%;
    margin-bottom: 15px;
}

.card-image h2 {
    font: 400 18px arial;
    padding-bottom: 10px;
    transition: .4s;
}

.card-image h2:hover {
    color: #007bff;
}

.card-image span {
    font: 400 13px arial;
    color: #989797;
    padding-right: 10px;
    display: flex;

    align-items: center;

}

.card-image i {

    padding-left: 10px;
    font-size: 5px;
}


.row {
    display: flex;
}

.card-text a {
    text-decoration: none;
    font: 400 16px arial;
    color: #007bff;
    transition: .4s;
}

.card-text a:hover {
    color: #004d9f;
}

.card-text p {
    font: 400 17px arial;
    color: #808080;
    padding: 20px 0 15px 0;
    line-height: 25px;
}


/* nineth section */

.icons-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding: 0 20px;
}

.icon-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.icon-text i {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 15px;
}

.icon-text p {
    color: #6c757d;
    font: 400 15px arial;
    line-height: 25px;
}

.icon-text a {
    color: #007bff;
    text-decoration: none;
    font: 400 16px arial;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 25px;
    padding: 40px;
}

input {
    border-radius: 25px;
    border-color: white;
    padding: 10px;
}

form h2 {
    font: 400 25px arial;
    padding-bottom: 25px;

}

.inlinef {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

form p {
    font: 400 17px arial;
    margin: 15px 0 10px 0;
}

textarea {
    border-radius: 25px;
    height: 100px;
    padding: 10px;
}


/* footer */

.bg-color1 {
    background-color: #3f4245;
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}


.footer h4 {
    padding-bottom: 20px;
    color: #fff;
    font: 400 21px arial;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.input {
    display: flex;
}

input {
    border-radius: 20px;
    border-color: rgb(199, 199, 199);

}

.input button {
    background-color: #fff;
    padding: 10px;
    color: #000;
    border-radius: 20px;
}

.first p {
    color: #848484;
    font: 400 16px arial;
    padding-bottom: 10px;
    line-height: 30px;
}

.first a {
    text-decoration: none;
    color: #848484;
    transition: .4s;
}

.first a:hover {
    color: #fff;
}

.first i:hover {
    color: #fff;
}

.first[type="center"] p {
    margin-top: 30px;
    text-align: center;
}

hr {
    font-size: 1px;
    background-color: #808080;
    border-color: #808080;
    margin: 30px 0;
}